<!--
  Project Part 2
  File name: bottom_nav.ejs
  Group 1
  Due: Jul 16, 2023
-->


<!-- footer ---->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-custom">
    <h6 class="display-7 navbar-text">&copy; Copyright WEB TITANS. All rights reserved </h6>
  </nav>
</footer>
