<!--
  Project Part 2
  File name: index.ejs
  Group 1
  Due: Jul 16, 2023
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file ---->
<%- include partials/header.ejs %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file ---->
<%- include partials/main_nav.ejs %>


<!-- Content to the Home page ---->

<!-- main -->
<main>
  <div class="pages-container">
    <div class="left">
      <!-- Introduction text -->
      <div class="intro">
        <h2> 
          <span>Create a</span>
        </h2>
        <h1>
          <span>S U R V E Y</span>
        </h1>
      </div>
    </div>

    <!-- Emoji and Name -->
    <div class="right">
      <div class="image-container">
          <img src="Assets/images/front.png" id="front-image">
      </div>
    </div>
  </div>
</main>

<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include partials/footer.ejs %>
