<!--
  Assignment 2
  File name: index.ejs
  Student Name: Maha Nasir
  StudentID: 301266305
  Date: 18 June 2023
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file ---->
<%- include partials/header.ejs %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file ---->
<%- include partials/main_nav.ejs %>


<!-- Content to the Home page ---->

<!-- main -->
<main>
  <div class="pages-container">
    <div class="left">
      <!-- Introduction text -->
      <div class="intro">
        <h2> 
          <span>W</span>
          <span>e</span>
          <span>b</span>
          <span></span>
          <span>a</span>
          <span>p</span>
          <span>p</span>
          <span>l</span>
          <span>i</span>
          <span>c</span>
          <span>a</span>
          <span>t</span>
          <span>i</span>
          <span>o</span>
          <span>n</span>
          <span></span>
          <span>&</span>
          <span></span>
          <span>S</span>
          <span>o</span>
          <span>f</span>
          <span>t</span>
          <span>w</span>
          <span>a</span>
          <span>r</span>
          <span>e</span>
        </h2>
        <h1>
          <span>d</span>
          <span>e</span>
          <span>v</span>
          <span>e</span>
          <span>l</span>
          <span>o</span>
          <span>p</span>
          <span>e</span>
          <span>r</span>
        </h1>
      </div>
    </div>

    <!-- Emoji and Name -->
    <div class="right">
      <div class="image-container">
        <div class="lights"></div>
        <div class="circle">
          <img src="Assets/images/snap.png" alt="">
        </div>
        <div class="content">
          <div class="details">
            <p><i> Hello! &lt;I&gt; am </i></p>
            <h2>Maha Nasir</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include partials/footer.ejs %>
