<!--
  Assignment 2
  File name: projects.ejs
  Student Name: Maha Nasir
  StudentID: 301266305
  Date: 18 June 2023
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file ---->
<%- include partials/header.ejs %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file ---->
<%- include partials/main_nav.ejs %>

<!-- Projects page ---->
<!-- main ---->
<main class="container">
    <div id="projects">
        <div class="projects-container">
        <h1 id="projects-h1">My projects</h1>
            <!-- Adding projects -->
            <div class="show-projects">
                <div class="project">
                    <img src="Assets/images/work1.JPG">
                    <div class="project-details">
                        <h3>Table Generator</h3>
                        <h5>HTML / CSS / JS</h5>
                        <p>Generate table by inserting desired numbers in the section "rows" and "columns".</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/comp125/Assignment1/assignment1.html" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                <img src="Assets/images/work2.JPG">
                    <div class="project-details">
                        <h3>Photo Gallary</h3>
                        <h5>HTML / CSS / JS</h5>
                        <p>Interactive slideshow can be played or paused. Change the Images with next/back buttons and see the zoomed version to add favorites.</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/comp125/Assignment2" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work3.JPG">
                    <div class="project-details">
                        <h3>Canvas Game </h3>
                        <h5>HTML / CSS / JS</h5>
                        <p>Whack The MOLE! <br>
                           The intervals of appearing of the mole will get shorter, as the score raises.</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/comp125/Assignment3" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work6.JPG">
                    <div class="project-details">
                        <h3>BabyBoo (eCommerce website)</h3>
                        <h5>HTML / CSS </h5>
                        <p>A website for babies clothes with offer cloths for both girls and boys. </p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/COMP213/FinalProject" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work4.JPG">
                    <div class="project-details">
                        <h3>Information Website</h3>
                        <h5>HTML / CSS</h5>
                        <p>Get to know about Jakob Nielsen&#180;s 5th Usability Heuristic &#8220;Error prevention&#8221</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/COMP213/Midterm/" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work5.JPG">
                    <div class="project-details">
                        <h3>Newly launched products</h3>
                        <h5>HTML / CSS </h5>
                        <p>The website offers information about Newly launched iPhone 14 Pro Max and also direct the user to Apple&#8220;s official website.</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/COMP213/Assignment3/Assignment3.html" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work7.JPG">
                    <div class="project-details">
                        <h3>Wildlife Importance</h3>
                        <h5>HTML / CSS </h5>
                        <p>The website gives knowledge about protected areas and articles about the topic.</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/COMP213/Assignment2-MAHA" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
                <div class="project">
                    <img src="Assets/images/work8.JPG">
                    <div class="project-details">
                        <h3>Instructor Evaluation</h3>
                        <h5>HTML / CSS </h5>
                        <p>Instructor Evaluation forn for sudents to fill out and submit.</p>
                        <a class="open-page" href="http://studentweb.cencol.ca/mnasir11/COMP213/Assignment4" target="_blank"><ion-icon name="open-outline"></ion-icon></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include partials/footer.ejs %>
