<!--
  Assignment 2
  File name: services.ejs
  Student Name: Maha Nasir
  StudentID: 301266305
  Date: 18 June 2023
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file -->
<%- include partials/header.ejs %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file -->
<%- include partials/main_nav.ejs %>

<!-- My Services page -->
<!-- main -->
  <main class="container">
    <div id="my-services">
      <div class="services-container">
          <h1 id="services-h1">My Services</h1>
          <!-- Services section  -->
          <div class="services-text">
                <div>
                    <h3>Web Development</h3>
                    <p>I create dynamic, responsive websites and web applications, 
                        including customized e-commerce platforms and other web-based solutions.
                    </p><br><br><br><br>
                    <img src="Assets/images/html.png">
                    <img src="Assets/images/css.png">
                    <img src="Assets/images/js.png"> 
                </div>
                <div>
                    <h3>Software Development</h3>
                    <p>I specialize in software development with C# and Java, offering services 
                        such as custom desktop app development, dynamic web app development,  
                        mobile app development for Android and iOS platforms, and other Java/C# 
                        based solutions.
                    </p><br>
                    <img src="Assets/images/java.png">
                    <img src="Assets/images/c-sharp.png">
                </div>
                <div>
                    <h3>UX/UI designing</h3>
                    <p>I create engaging UX/UI designs for digital platforms using Adobe Photoshop
                        and Illustrator. My designs optimize the user experience for websites, 
                        mobile apps, and other digital products, ensuring client satisfaction.
                    </p><br><br>
                    <img src="Assets/images/ux (2).png">
                </div>
                <div>
                    <h3>Graphic designing</h3>
                    <p>As a skilled graphic designer with expertise in Adobe Photoshop and Illustrator, 
                        I create visually stunning content for a variety of digital platforms. 
                        I specialize in photo editing, retouching, logo design, and image manipulation 
                        to enhance the visual appeal of any digital asset.
                    </p>
                    <img src="Assets/images/ps.png">
                    <img src="Assets/images/ai.png">
                </div>
          </div>
      </div>
  </div>
  </main>

<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include partials/footer.ejs %>
